.dreamyTip{
    background: url(../images/dreamytip.png) no-repeat bottom center;
    padding: 5px;
    font-size: 11px;
    opacity: 0;
    filter: alpha(opacity=0); 
    position: absolute;
    display:none;
}
.dreamyTip.dt-bottom{background-position:top center}
.dreamyTipInner{padding: 7px 10px 6px 10px; background-color: black; color: white; max-width: 200px; text-align: center}
.dreamyTipInner{
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
}
.dreamyTip.dt-left{background-position: right center}
.dreamyTip.dt-right{background-position: left center}
.dreamyTipBtn{color:#fff;font-family:arial; position: absolute; top:3px; right:8px; font-weight: bold; cursor: pointer}